.list-item {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 2vh;
  background-color: white;
  margin: 2px;
}

.list-item:hover {
  background-color: rgb(62,131,134);
  color: white;
}

.question {
  font-size: 1.2em;
  padding: 1vh;
  padding-left: 3vh;
  padding-bottom: 2vh;
  width: 30vw;
}

.details {
  padding-right: 15vh;
  width: 30vw;
}