.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 0.9em;
  font-stretch: semi-expanded;
  padding-left: 10vw;
  padding-right: 10vw;
}

#logo {
  height: 14vh;
}