.App {
  background-color: rgb(246,246,246);
  height: 100vh;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.header {
  padding-left: 10vw;
  padding-right: 10vw;
}

#logo {
  height: 14vh;
}
